@import url();
body{
    font-family: 'Poppins' ,  sans-serif;
 background: #ececec;   
 }

    .box-area {
        border-radius: 10px;
        padding: 20px;
        background-color: #f8f9fa;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border: 1px solid #dee2e6;
      }
      

      .featured-image {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
        overflow: hidden;
      }
      
      
